/* Start Banner */

.banner {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #0674ec;

  font-size: 20px;
  color: #fff;
}

.banner__inner {
  padding: 15px 0;
}

.banner__title {
  font-size: 60px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767.98px) {
  .banner__title {
    font-size: 40px;
  }
}

.banner__title>span {
  font-weight: initial;
}

/* End Banner */