
.slogan {
  background-image: linear-gradient(90deg, rgba(114, 33, 160, 0.9) 0%, rgba(64, 48, 201, 0.9) 46%, rgba(13, 62, 242, 0.9) 100%);
  padding: 50px 0;
}

.slogan__title {
  padding: 15px 0;
  color: #fff;
  font-weight: normal;
  font-size: 32px;
}

@media (max-width: 767.98px) {
  .slogan__title {
    text-align: center;
  }
}

.slogan__title span {
  margin-top: 15px;
  display: block;
  font-size: initial;
}
