/* Start Footer */
.footer {
  grid-area: footer;
  background-color: #262b30;
}

.footer__top {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  color: #ababab;
}

@media(max-width: 1023.98px) {
  .footer__top {
    padding: 0;
    flex-direction: column;
  }
}

.footer__item {
  margin-top: 10px;
  flex: 0 1 25%;
}

@media(max-width: 1023.98px) {
  .footer__item {
    display: none;
  }
}

.footer__item--contacts {
  flex-basis: 30%;
  margin-right: 25px;
}

.footer__item--newsletter {
  margin-top: 10px;
}

.footer__btn {
  width: 100%;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  text-align: left;
  font-size: 24px;
  line-height: 2;
  color: #fff;
  cursor: pointer;
  transition: color .3s ease 0s;
}

@media(min-width: 1024px) {
  .footer__btn {
    display: none;
  }
}

.footer__btn:hover {
  color: #ababab;
}

.footer__btn>span:last-child {
  font-size: 18px;
  margin-left: 15px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  transition: transform 0.3s ease 0s;
}

.footer__logo:hover {
  transform: translateX(10px);
}

.footer__text {
  margin-bottom: 20px;
  line-height: 1.9;
}

.footer__address {
  font-style: inherit;
  line-height: 1.7;
}

.footer__link {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px;
  transition: transform 0.3s;
}

.footer__link:hover {
  transform: scale(1.05);
}

@media(max-width: 1023.98px) {
  .footer__link:hover {
    transform: rotate(1deg);
  }
}

.footer__link:active {
  transform: rotate(1deg);
}

.footer__icon {
  position: absolute;
  align-self: center;
  left: 0;
  font-size: 16px;
  line-height: 1.7;
}


.footer__title {
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 2.35;
  color: #fff;
}

@media(max-width: 1023.98px) {
  .footer__title {
    display: none;
  }
}

.footer__list {
  line-height: 2.15;
}

@media(max-width: 1023.98px) {
  .footer__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__list-item {
  color: #ababab;
  transition: color 0.2s, transform 0.3s ease 0s;
  cursor: pointer;
}

@media(max-width: 1023.98px) {
  .footer__list-item {
    line-height: 3;
    font-size: 20px;
    flex: 1 1 50%;
  }
}

@media(max-width: 479.98px) {
  .footer__list-item {
    flex: 1 1 100%;
    text-align: center;
  }
}

.footer__list-item:hover {
  transform: scale(1.1);
}

@media(max-width: 1023.98px) {
  .footer__list-item:hover {
    transform: rotate(2deg);
  }
}

.footer__list-item:active {
  color: #fff;
}

.footer__form {
  margin-bottom: 45px;
}

.footer__bottom {
  background-color: #192027;
  padding: 28px 0 40px;
  text-align: center;
  line-height: 1.8;
  color: #555555;
}

@media (max-width: 1023.98px) {
  .footer__bottom {
    padding: 20px 20px;
  }
}

.footer__bottom-link {
  color: #fff;
  cursor: pointer;
}

/* End Footer */


/* Start social */
.social {
  display: flex;
  transition: all 0.3s;
}

@media(max-width: 1023.98px) {
  .social {
    padding-bottom: 15px;
  }
}

.social__item {
  margin-right: 13px;
}

.social__item:nth-child(even):hover img {
  transform: rotate(45deg);
}

.social__item:nth-child(odd):hover img {
  transform: rotate(-45deg);
}

.social__item img {
  border-radius: 50%;
  transition: all 0.3s;
}

.social__item img:active {
  box-shadow: 0px 0px 10px 2px #fff;
}

.social__link {
  font-size: 0;
}

/* End Social */


/* Start form */
.form {
  position: relative;
}

.form__input {
  width: 100%;
  padding: 12px 120px 15px 25px;
  border: 1px solid #d9dfe5;
  border-radius: 30px;
  font-size: 15px;
  outline: transparent;
  transition: all 0.3s ease 0s;
}

.form__input:hover {
  border-color: rgba(98, 142, 189, 0.5);
  box-shadow: inset 0px 0px 3px 1px #0674ec;
}

.form__input:focus,
.form__input:active {
  border-color: #0674ec;
  box-shadow: inset 0px 0px 3px 1px #0674ec;
}

.form__input::-webkit-search-cancel-button {
  display: none;
}

.form__btn {
  padding: 0 27px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.form__btn:hover {
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
}

/* End form */