/* Start About */

.about__inner {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 35px;
  margin: 0 -10px 0 0;
}

@media (max-width: 767.98px) {
  .about__inner {
    padding-bottom: 10px;
  }
}

.about__item {
  min-height: 130px;
  margin-bottom: 20px;
  padding: 0 20px 0 130px;
  flex: 1 1 50%;
  position: relative;
}

@media (max-width: 767.98px) {
  .about__item {
    flex: 1 1 100%;
  }
}

@media (max-width: 479.98px) {
  .about__item {
    margin-bottom: 30px;
    padding-left: 0;
    text-align: center;
  }
}

.about__item::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  max-width: 120px;
  object-fit: cover;
  object-position: center;
}


@media (max-width: 479.98px) {
  .about__item::before {
    position: relative;
  }
}

.about__item:first-child::before {
  content: url(../../img/about-2.png);
}

.about__item:nth-child(2)::before {
  content: url(../../img/about-3.png);
}

.about__item:nth-child(3)::before {
  content: url(../../img/about-1.png);
}

.about__item:last-child::before {
  content: url(../../img/about-1.png);
}

.about__title {
  margin-bottom: 10px;
}
/* End About */