.benefits {
  @include adaptiv-value("padding-top", 190, 50, 0);
  @include adaptiv-value("padding-bottom", 190, 50, 0);
  background-color: $bg;
  
  &__items {
    @include adaptiv-value("margin-bottom", 65, 30, 0);
    display: flex;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    flex: 0 1 29.3%;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      flex: 1 1 100%;
    }

    &-top {
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 1.16;
      @media (max-width: 767px) {
        justify-content: start;
        text-align: start;
      }
    }
    &-title {
      max-width: 150px;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      @media (max-width: 767px) {
        max-width: 100%;
      }
    }
    &-text {}
  }

  &__icon {
    margin-right: 10px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__stats {
    margin: 0 26px 30px 0;
  }

  &__stat {
    margin-bottom: 10px;
  }

  &__qty {
    font-size: 24px;
    line-height: 1;
  }

  &__result {
    width: 75%;
  }

  &__description {
    flex: 1 0 50%;
  }

  &__text {    
    & + & {
      margin-top: 30px;
    }
  }
}
