.blog {
  @include adaptiv-value("padding-top", 200, 50, 0);
  @include adaptiv-value("padding-bottom", 200, 100, 0);

  .title {
    @include adaptiv-value("margin-bottom", 220, 50, 0);
  }

  &__container {
    position: relative;
    overflow: hidden;
  }

  &__wrapper {
    display: flex;
  }

  &__item {
    min-height: 85vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
      background-color: rgba(36, 33, 33, 0.5);
    }
  }

  .container {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 767px) {
    .container {
      justify-content: flex-end;
    }
  }

  &__text {
    max-width: 600px;
    padding-bottom: 30px;
    position: relative; //если убрать - блок ложится под фон .blog__item::before и затемняет текст, что не нужно
    color: #fff;
  }

  &__title {
    text-transform: uppercase;
    @include adaptiv-font(48, 18);
    line-height: 1.17;
    font-weight: 400;
  }

  &__pagination {
    position: absolute;
  }

  .swiper-pagination-bullets {
    @include adaptiv-value("bottom", 70, 20, 0);

    .swiper-pagination-bullet {
      @include adaptiv-value("width", 15, 10, 0);
      @include adaptiv-value("height", 15, 10, 0);
      margin: 0 7px 0 8px;
      background-color: #fff;
      opacity: 1;
      outline: transparent;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
      }

      &-active {
        background-color: #00B2A0;
      }
    }
  }
}