
.quote {
  background-color: #F8F8F8;
  

  &__inner {
    margin: 0 auto;
    padding: 80px 0 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  &__text {
    @include adaptiv-font(36, 20);
    line-height: 1.1;
    font-weight: 400;
    font-style: italic;
  }

  &__subtext {
    max-width: 430px;
    align-self: center;
    @include adaptiv-font(14, 12);
    font-style: italic;
  } 
  
  @media (min-width: 767px) {
    &__subtext {
      width: 100%;
      align-self: flex-end;
      text-align: left;
    }
  }  
}