.stats {
  
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    margin: 0 45px 30px;
    text-align: center;
  }

  &__qty {
    margin-bottom: 5px;
    font-size: 64px;
    line-height: 1.17;
    font-weight: 700;
    color: #01353E;
  }
}