.submit {
  @include adaptiv-value("padding-bottom", 200, 50, 0);

  &__inner {
    @include adaptiv-value("margin-top", 130, 0, 0);
    @include adaptiv-value("margin-bottom", 170, 50, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    flex: 1 0 100%;
    margin: 0 0 50px 0;

    @media (min-width: 767px) {
      flex: 0 1 50%;
      margin-bottom: 0;
    }

    &--form {
      min-height: 460px;
    }

    &--contacts {
      padding: 0 30px 5px 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: $bg;
      font-weight: 400;
      @include adaptiv-font(24, 16);
    }
  }

  .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 767px) {
      padding: 0 20px 0 0;
    }

    &__input {
      border: transparent;
      border-bottom: 2px solid #dadada;
      padding-bottom: 18px;
      margin-bottom: 30px;
      font-size: 18px;
      line-height: 1;
      font-weight: 400;
      color: $text;
      outline: transparent;

      &::placeholder {
        color: $green;
      }

      &:focus::placeholder {
        color: transparent;
      }

      &--phone {
        margin-bottom: 50px;
      }

      &--message {
        @include adaptiv-value("margin-bottom", 50, 30, 0);
        resize: none;

        &::placeholder {
          max-width: 260px;
        }
      }
    }
  }

  .btn {
    margin: 0 auto;
  }

  &__contact {
    max-width: 330px;
    margin: 15px auto;
    text-align: center;

    @media (min-width: 767px) {
      margin: 0;
      text-align: left;
    }
  }

  &__subtext {
    display: block;
  }

  &__tel {
    display: block;
  }

  &__list {
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }

  &__link {
    margin-right: 10px;
    display: inline-block;
    transition: color 0.3s;

    &:hover {
      color: $green;
    }
  }

  &__social {
    @include adaptiv-font(24, 16);
  }
}