.team {
  @include adaptiv-value("padding-bottom", 170, 50, 0);

  &__list {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1023px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__item-body {
    margin: 0 0 30px 0;
    text-align: center;
  }

  
  &__image-body {   
    max-width: 330px;
    height: 450px;
    margin: 0 0 25px 0;
  }
  
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__name {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
  }
}