.footer {
  background-color: #00B2A0;
  &__inner {
    @include adaptiv-value("min-height", 200, 100, 0);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}