  <ion-card color="light">
      <div class="img-container row">
        <ion-slides pager="true" [options]="slideOpts" #slides>
        <ion-slide *ngFor="let img of breed.imgs">
          <ion-img [src]="img"></ion-img>
        </ion-slide>
      </ion-slides>
    </div>
      <ion-card-content>
        <ion-buttons class="flx-col-between row" #buttons>
          <ng-container *ngFor="let dog of breed.dogs">
            <ion-button fill="outline" (click)="chooseDog(dog, $event)">
              {{dog}}
            </ion-button>
          </ng-container>
        </ion-buttons>
      </ion-card-content>
  </ion-card>
