.flx-col-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ion-card {
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ion-slides {
  height: 100%;
}

ion-card-content {
  max-height: 30%;
  padding: 0 10px;
}

ion-img {
  height: 100%;
  overflow: hidden;
}

ion-button {
  width: 100%;
  margin: 7px 0;
}

.img-container {
  height: 70%;
}
