/* Start Gallery */

.gallery {
  background-color: #eef1f5;
  padding: 50px 0;
}

.gallery__inner {
  margin: 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 1023.98px) {
  .gallery__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.gallery__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(220 / 1200 * 100%);
  flex: 0 1 calc(220 / 1200 * 100%);
  height: 230px;
  margin: 0 10px 30px;

  border-radius: 4px;
  box-shadow: 0px 2px 20px 0px rgba(147, 155, 168, 0.1);
 -webkit-transition: all .3s ease 0s;
 -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

@media (max-width: 1023.98px) {
  .gallery__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
  }
}

@media (max-width: 767.98px) {
  .gallery__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}

.gallery__item:hover {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  box-shadow: none;
}

.gallery__item:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.gallery__item:hover .play-icon::before {
  background-color: #add8e6;
}

.gallery__item:active .play-icon::before {
  -webkit-box-shadow: 0px 0px 5px 3px #add8e6;
  box-shadow: 0px 0px 5px 3px #add8e6;
}

.gallery__link {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery__link--video::before {
  content: 'play me';  
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 4px 0;
  background-color: #fff;
  font-size: 18px;
  font-weight: 550;
}

.gallery__link>img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 4px;
}

/* End Gallery */