/* Start Gallery */

.gallery {
  background-color: #eef1f5;
  padding: 50px 0;
}

.gallery__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
}

@media (max-width: 1023.98px) {
  .gallery__inner {
    flex-wrap: wrap;
  }
}

.gallery__item {
  flex: 0 1 calc(220 / 1200 * 100%);
  height: 230px;
  margin: 0 10px 30px;

  border-radius: 4px;
  box-shadow: 0px 2px 20px 0px rgba(147, 155, 168, 0.1);
  /*   background-image: linear-gradient(#555, #fff);
 */
  transition: all .3s ease 0s;
}

@media (max-width: 1023.98px) {
  .gallery__item {
    flex: 1 1 30%;
  }
}

@media (max-width: 767.98px) {
  .gallery__item {
    flex: 1 1 100%;
  }
}

.gallery__item:hover {
  transform: scale(0.95);
  box-shadow: none;
}
.gallery__item:active {
  transform: scale(0.95);
}

.gallery__item:hover .play-icon::before {
  background-color: #add8e6;
}

.gallery__item:active .play-icon::before {
  box-shadow: 0px 0px 5px 3px #add8e6;
}

.gallery__link {
  width: 100%;
  height: 100%;
  display: inline-block;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery__link>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

/* End Gallery */