html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: inherit;
}

button {
  outline: transparent;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul[class],
ol[class] {
  list-style-type: none;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}

._active {
  display: block !important;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template: minmax(80px, auto) 1fr minmax(70px, auto) / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.main {
  grid-area: main;
  background-color: #eff1f5;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Start title */
.title {
  width: 100%;
  margin-bottom: 50px;
  padding: 25px 30px;
  
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  
  font-size: 30px;
  text-transform: uppercase;
  color: #000;
}
/* End title */

/* Start description (section-title) */
.description {
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: initial;
  text-align: center;
}

.description__subtitle {
  max-width: 60%;
  margin: 0 auto;
  display: block;
  font-size: initial;
  line-height: 2;
}

@media (max-width: 767.98px) {
  .description__subtitle {
    max-width: initial;
  }
}
/* End description (section-title) */

.btn {
  border: transparent;
  border-radius: 30px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #fff;
  cursor: pointer; 
  transition: all 0.3s ease 0s;
  outline: transparent;
}
/* Class-helpers */

/* font-weight */
.text-bold {
  font-weight: 700;
}

/* background colors */
.bg-blue {
  background-color: #0674ec;
} 
.bg-purple {
  background-color: #7347c1;
} 


/* colors */
.clr-blue {
  color: #58c9e9;
}

.clr-bluelight {
  color: #0674ec;
}

.clr-green {
  color: #77de51;
}

.clr-purple {
  color: #7f4ec2;
}

.clr-red {
  color: #ff6a6d;
}


.clr-yellow {
  color: #feb71d;
}

/* Screen reader */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}